<div class="containerprofile">
<div class="col-lg-1">
</div>
<div class="col-lg-9">
<div class="profile">
<div class="profile-user-settings">
<ul>
<li><h1><%= @user.name %>_</h1></li>
<li><button class="btn profile-edit-btn"><%= link_to 'Edit Profile', edit_user_path(@user) %></button></li>
<li><i class="fa fa-cog" aria-hidden="true"></i></li>
</ul>
</div>
</div>
</div>
</div>
<nav class="navbar navbar-fixed-bottom">
</nav>
